img {
  width: 100%;

  /* max-height: 100%; */
  max-height: 23rem;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
  padding: 0 0.75rem;
}

button,
input {
  transition: all 0.1s;
}

button:hover,
input[type="submit"]:hover {
  color: rgb(86, 43, 128);
  background-color: white;
  border: 0.1px solid rgb(86, 43, 128);
  box-shadow: 0 1rem 1rem -1rem black;
  cursor: pointer;
}

textarea:hover,
input:hover {
  border: 1px solid black;
  box-shadow: 0 1rem 1rem -1rem black;
}

.margin-0 {
  margin: 0;
}

.margin-top-rem {
  margin-top: 1rem;
}

.margin-bottom-rem {
  margin-bottom: 1rem;
}

.width-full {
  width: 100%;
}

.align-items {
  align-items: center;
}

.padding-one-two-rem {
  padding: 0.4rem 1rem;
}

.padding-top-bottom-halfrem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding-top-bottom-half-rem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.padding-left {
  padding-left: 1rem;
}

.padding-side-3q-rem {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.padding-new-button {
  padding: 0.4rem 0.6rem 0.3rem;
}

.background-purple {
  background-color: rgb(86, 43, 128);
}

.white-text {
  color: white;
}

.font-proza {
  font-family: "Proza Libre", sans-serif;
}

.font-size-1half-rem {
  font-size: 1.5rem;
}

.font-size-1q-rem {
  font-size: 1.25rem;
}

.font-size-1-rem {
  font-size: 1rem;
}

.height-image {
  height: 23rem;
}

.input-height {
  height: 2.5rem;
}

.border-radius-5px {
  border-radius: 5px;
}

.border-solid {
  border-style: solid;
}

.border-gray {
  border-color: rgb(197, 197, 197);
}

.border-none {
  border-style: none;
}

.justify-right {
  justify-content: right;
}

.justify-space-bw {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.icon {
  color: rgb(86, 43, 128);
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.4);
  cursor: pointer;
}

#entries-anchor:hover {
  cursor: pointer;
  text-decoration: underline;
}
